# Azure values used for local deployment / GitHub Actions
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_CONTAINERAPPS_ENVIRONMENT=
AZURE_RESOURCE_GROUP=rg-rag-mcp-azure
AZURE_LOCATION=westeurope
ACR_NAME=ragmcpazureacr
ACR_USERNAME=
ACR_PASSWORD=

# GitHub repository secrets
# AZURE_CREDENTIALS
# AZURE_CONTAINERAPPS_ENVIRONMENT
# ACR_USERNAME
# ACR_PASSWORD
